$def with ()

    <img class="body_header" src="/static/img/css_logo.png" height="120" width="510" title="Unique Tattoos Logo" alt="Unique Tattoos" />

    <img class="best_text" src="/static/img/f_best.png" height="15" width="220" alt="The Best Tattoos" title="The Best Tattoos in Perth!" />

    <img class="contact_text" src="/static/img/f_contact.png" height="80" width="310" alt="Phone:(08)93804315 Studio:5/513 Hay Street, Subiaco, Perth, Western Australia, 6008" title="Contact Details" />

$var title: Unique Tattoos - Perth
